<h1>你好</h1>

<div ng-controller="PostController">

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="page-header">
          Page Heading
          <small>Secondary Text</small>
        </h1>

        <!-- First Blog Post -->


        <%= react_component 'Posts', { posts: @posts } %>
        


      </div>
      <!-- Blog Sidebar Widgets Column -->
      <div class="col-md-4">
        <%= render 'layouts/sidebar' %>
      </div>

    </div>
    <!-- /.row -->

    <hr>

  </div>
  <!-- /.container -->

</div>


