

  <div class="row">
    <!-- Blog Post Content Column -->
    <div class="col-lg-8">
      <!-- Blog Post -->
      <!-- Title -->


      <%= react_component 'Post', { post: @post } %>


      <!--<h1>{{post.title}}</h1>-->

      <!--&lt;!&ndash; Author &ndash;&gt;-->
      <!--<p class="lead">-->
        <!--by <a href="#">Start Bootstrap</a>-->
      <!--</p>-->

      <!--<hr>-->
      <!--&lt;!&ndash; Date/Time &ndash;&gt;-->
      <!--<p><span class="glyphicon glyphicon-time"></span> Posted on August 24, 2013 at 9:00 PM</p>-->

      <!--<hr>-->
      <!--&lt;!&ndash; Preview Image &ndash;&gt;-->
      <!--<img class="img-responsive" src="http://placehold.it/900x300" alt="">-->

      <!--<hr>-->

      <!--&lt;!&ndash; Post Content &ndash;&gt;-->
      <!--<p class="lead">{{ post.body }}</p>-->
      <!--<hr>-->

      <!--<div ng-controller="CommentController">-->
        <!--<div ng-show="comments.$resolved && comments.length == 0">-->
          <!--<h4>There's nothing here...</h4>-->
          <!--<p>Be the first to comment on this post below!</p>-->
        <!--</div>-->

         Blog Comments
        <div ng-repeat="comment in comments">
          <!-- Comment -->
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="http://placehold.it/64x64" alt="">
            </a>
            <div class="media-body">
              <h4 class="media-heading">{{comment.title}}
                <small>August 25, 2014 at 9:30 PM</small>
                <small><a class="glyphicon glyphicon-trash" ng-click="deleteComment($index)" href=""></a></small>
              </h4>
              {{ comment.body }}
            </div>
          </div>
          <br>
        </div>

        <!-- Comments Form -->
        <div class="well">
          <h4>Leave a Comment:</h4>
          <form role="form" ng-submit="addComment()">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="newComment.title" rows="3" required/>
              <textarea class="form-control" ng-model="newComment.body" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <hr>
      </div>

    <div class="col-md-4">
      <%= render 'layouts/sidebar' %>
    </div>


    </div>
    <!-- Blog Sidebar Widgets Column -->

