<!DOCTYPE html>
<html>
  <head>
    <title>kwaaaaa</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
  </head>
  <body>

  <%= render 'layouts/header' %>
  <div class='container'>
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>

  </body>
</html>
